// VARIABLES
@import './_variables.scss';


.AboutSection{
// display:flex;
// flex-direction: column;
@media(min-width:$desktopView){
        width:50%;
        margin: 0 auto;
}
    h1{
        // font-size:42px;
        padding: 10px 10px;
        text-align: center;
        color:$textBlack;
        font-size: 5rem;
    }
    h2{
        text-align: center;
        color:$textBlack;
        font-size:2rem;
    }

    img{
        width:100%;
        @media(min-width: $desktopView){
            // width:50%;
        }
    }
    p{
        padding: 10px 10px;
        color:$textBlack;
        // font-size:1.1rem;
        @media(min-width:$desktopView){
            // width:50%;
        }
    }
    ul{
        margin: 0 auto;
        margin-bottom: 20px;
        li{
        margin-top:3px;
        margin-bottom:3px;
        color:$textBlack;
        text-decoration: dotted;
        }
    }
}


