
  
  .sunSVG{
    display:none;
}

.svg-animation{
width:100%;


}


// #worm, #snail, #use6457,#sunG, #use5499,#use4365, #use4368, #use6465, #use6455,#g11495{
    #SunG{
    
    display:none;

  }
