@media (min-width: 1024px){
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../images/logoHD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 292px;
    height: 64px;
    margin-top: 40px;
    margin-left: 40px;
}

}