
    .logo {
        float:right;
        background-image: url(../images/logo-min.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:50px;
        height:50px;
        margin-top: 30px;
        margin-right:20px;

        @media(min-width: 768px){
        position: absolute;
        top: 0;
        bottom: 0;
        background-image: url(../images/logoHD.png);
        width: 250px;
        height: 50px;
        margin-top: 30px;
        margin-left: 40px;
        // display:none;
        &:hover{
            //TODO: better quality image need for hover
            // background-image: url(../images/logo-alt.png);
            
        }
        }
 
    }
    

    .container-fluid{
        height:100px;
        background-color:rgb(61, 61, 61);
    }

    nav.nav-top{
        display:none;
    
        @media(min-width:768px) {
        display: block;
        float:right;
        color:white;
        // margin-left:20px;
        ul{
            margin-right:40px;
            margin-top:40px;
        }
      
        li{
            display:inline-block;
            margin-left:20px;
            font-size:25px;
            // margin-top:20px;
        }
        li{
           
            a{
                color:white;
                 text-decoration: none; 

            }
            a:hover{
                color:gray;
                text-decoration: underline; 

            }
        }
        }
    }
    