$mobileView: 320px;
$tableView: 768px;
$desktopView: 1024px;
$textBlack:rgb(138, 137, 137);


.FilterItems{
    div{
        // border: solid 1px black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:20px;
        margin-bottom:10px;
        color:$textBlack;
        div{
            font-size:1rem;
            @media(min-width: $desktopView){
                font-size:1.5rem;
            }
            // display:inline-block;
            margin-left: 20px;
            &:hover{
                color:lightcoral;
                text-decoration: underline;
            }
        }
    }
}



.title{
    text-align: center;

    h1{
       
        width:100%;
        font-size: 5rem;
        margin-top:20px;
        color:$textBlack;
    }
    h2{
        color:$textBlack;
        font-size:2rem;
    }
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:20px;
    padding-bottom:50px;

    a img{
        width:100%;
        &:hover{
            opacity: .5;
        }
        // opacity: 0.3;
    }
    a:hover{
        // background-color: aquamarine;
        // height:100%;
        // z-index:1;
        // opacity: 0.3;

    }
    .list--item{
        // background-color:blue;
        margin-bottom:20px;
        max-width: 400px;
        // maybe delete: fixes the width of each item
        width:400px;
        @media(min-width: $tableView){
        margin-left:10px;
        margin-right:10px;
        margin-bottom:50px;
        }


    }
    .list--item--text{
        // background-color: aquamarine;
        align-content: flex-start;
        width:100%;
        height:50px;
        justify-content: center;
        color:$textBlack;
        margin-top: 5px;
        text-align: center;
    }
}



.filter{


}


// the buttons for all the items in the portfolio linking to code and demos
$button--code:rgb(147, 168, 147);
.button--code{
    border: 2px solid $button--code;
    color: $button--code;
    &:hover{
        color: white;
        border: none;
        background-color: $button--code;
        border: 2px solid $button--code;
    }
}


$button--demo: rgb(146, 165, 180);
.button--demo{
    border: 2px solid $button--demo;
    color: $button--demo;
    &:hover{
        color: white;
        border: none;
        background-color: $button--demo;
        border: 2px solid $button--demo;

    }
}
.button{
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: white; 
}