


.list{


    .list--item{
        width: 500px;
        height: 200px;
        background-color:blue;
            
    }
    .list--item--text{
        background-color: aquamarine;

    }
}



.filter{


}